/* 点滅 */
.blinking{
	-webkit-animation:blink .5s ease-in-out infinite alternate;
    -moz-animation:blink .5s ease-in-out infinite alternate;
    animation:blink .5s ease-in-out infinite alternate;
    font-weight: bold;
}
.blinking a{
    color: red;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

footer{
    text-align: center;
}
footer img{
    vertical-align: middle;
}
#jyane{
    color: maroon;
    font-weight: bold;
}