/* 点滅 */
.blinking{
	-webkit-animation:blink .5s ease-in-out infinite alternate;
    -moz-animation:blink .5s ease-in-out infinite alternate;
    animation:blink .5s ease-in-out infinite alternate;
    font-weight: bold;
}
.blinking a{
    color: red;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

span.column1{
  float: left;
  width: 4.5em;
  position: relative;
  font-weight: bold;
}
span.column2{
  float: left;
  width: 6.5em;
  position: relative;
  font-weight: bold;
}
span.column3{
  float: left;
  width: 7.5em;
  position: relative;
  font-weight: bold;
}
span.column4{
  float: left;
  width: 6em;
  position: relative;
  font-weight: bold;
}
span.column5{
  float: left;
  width: 40%;
  text-align: right;
  position: relative;
  font-weight: bold;
}
span.column6{
  float: left;
  position: relative;
  font-weight: bold;
}
span.column7{
  margin-left: 40%;
  text-align: right;
  position: relative;
}
span.space{
  padding-left: 1.5em;
}
span.column1:before,
span.column2:before,
span.column3:before,
span.column4:before,
span.column5:before,
span.column6:before{
  content: ": ";
  position: absolute;
  right: 0.5em;
}
footer{
    text-align: center;
}
footer img{
    vertical-align: middle;
}


p, h3{
  text-align: center;
}
.container div.sixteen{
  margin-bottom: 10px;
}
